{% extends 'base.html' %}

{% block content %}
<section class="content-header">
    <h1>
    Timesheet
    <small>Timesheet Management System</small>
    </h1>
    <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
    </ol>
</section>
<section class="content">
      <!-- COLOR PALETTE -->
      <div class="box box-default color-palette-box">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fa fa-tag"></i> {{ request.user.user_expert.expert.name|title }} Projects</h3>
        </div>
        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>S/No</th>
                        <th>Project</th>
                        <th>Project Details</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in object_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ project.name|title }}</td>
                            <td>{{ project.description }}</td>
                            <td>
                                <a href="{% url 'projects:timesheet_create' project_id=project.id %}" title="Create Timesheet"><button class="btn btn-primary btn-xs">Create</button></a>
                                <a href="{% url 'projects:project_timesheets' project_id=project.id %}" title="All Timesheets"><button class="btn btn-success btn-xs">Timesheets</button></a>
                            </td>
                        </tr>

                    {% endfor %}
                </tbody>
              </table>
        </div>
      </div>
</section>     
{% endblock %}
