{% extends 'base.html' %}

{% block content %}
<section class="content-header">
    <h1>
    Timesheet
    <small>Timesheet Management System</small>
    </h1>
    <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li>Invoice</li>
    <li class="active">View</li>
    </ol>
</section>
<div class="container">
    
</div>

<section class="content">
      <!-- COLOR PALETTE -->
      <div class="box box-default color-palette-box">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fa fa-tag"></i> Invoice</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="invoice-title">
                        <h2>Invoice: </h2><h3> {{invoice.id|stringformat:"07d"}}</h3>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xs-6">
                            <address>
                            <strong>Invoice Company Name:</strong> {{invoice.invoice_company_name|title}}<br>
                            <strong>Att Name:</strong> {{invoice.att_name|title}}<br>
                            <strong>Address Line-1:</strong> {{invoice.address_line_1|title}}<br>
                            <strong>Address Line-2:</strong> {{invoice.address_line_2|title}}<br>
                            <strong>Country:</strong> {{invoice.timesheet.country|title}}<br>

                            </address>
                        </div>
                        <div class="col-xs-6 text-right">
                            <address>
                            <strong>Name of Consultant:</strong> {{invoice.name_of_consultant}}<br>
                            <strong>Address:</strong> {{invoice.address}}<br>
                            <strong>Telephone:</strong> {{invoice.telephone}}<br>
                            <strong>Fax:</strong> {{invoice.fax}}<br>
                            <strong>Email:</strong> {{invoice.email}}<br>
                            <strong>TVA ID:</strong> {{invoice.tva_id}}<br>



                            </address>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <address>
                                <strong>Project Number:</strong> {{invoice.project.id}}<br>
                                <strong>Project Title:</strong> {{invoice.project.name|title}}<br><br>
                                <strong>Name of Expert:</strong> {{invoice.expert.name|title}}<br>
                                <strong>Position of Expert:</strong> {{invoice.expert.position|title}}<br>

                            </address>
                        </div>
                        <div class="col-xs-6 text-right">
                            <address>
                                {% comment %} <strong>Order Date:</strong><br> {% endcomment %}
                                {% comment %} {{invoice.date}}<br><br> {% endcomment %}
                            </address>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>Order summary</strong></h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <thead>
                                        <tr style="border: 1px solid;">
                                            <th>Date</th>
                                            <th class="text-center">Days</th>
                                            <th class="text-center">Day Worked</th>
                                            <th class="text-right">night spent in cairo</th>
                                            <th class="text-right">night spent outside cairo</th>
                                            <th class="text-right">Place of Activity</th>
                                            <th class="text-right">Activity</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                        
                                        {% for record in invoice.timesheet_record.all %}
                                        <tr style="border: 1px solid;">
                                            <td><strong>{{record.date}}</strong></td>
                                            <td class="text-center"><strong>{{record.day}}</strong></td>
                                            <td class="text-center"><strong>{{record.day_worked}}</strong></td>
                                            <td class="text-right"><strong>{{record.nights_spent_in_cairo}}</strong></td>
                                            <td class="text-right"><strong>{{record.nights_spent_out_cairo}}</strong></td>
                                            <td class="text-right"><strong>{{record.place_of_activity}}</strong></td>
                                            <td class="text-right"><strong>{{record.activities}}</strong></td>

                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <h3>Please Make Payment to</h3>
                            <address>
                                <strong>Name of the Bank:</strong> {{invoice.expert.name_of_bank}}<br>
                                <strong>Address of the Bank:</strong> {{invoice.expert.address_of_bank}}<br><br>
                                <strong>Account Number:</strong> {{invoice.expert.account_no}}<br>
                                <strong>IBAN:</strong> {{invoice.expert.iban}}<br>
                                <strong>Swift Code:</strong> {{invoice.expert.swift_code}}<br>


                            </address>
                        </div>
                        <div class="col-xs-6 text-right">
                            <br><br><br><br><br>
                            <address>
                                <strong>Consultants Signature:</strong><br><br><br>
                                _________________________<br><br>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
</section>  
{% endblock %}