{% extends 'base.html' %}

{% block content %}
<section class="content-header">
    <h1>
    Timesheet
    <small>Timesheet Management System</small>
    </h1>
    <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#"><i class="fa fa-dashboard"></i> TimeSheet</a></li>
    <li class="active">TimeSheet Record</li>
    <li><a href="{% url 'projects:timesheet_record_create' pk=timesheet.id %}"><span style="color:green">Create TimeSheet Record</span></a></li>

    </ol>
</section>
<section class="content">
      <!-- COLOR PALETTE -->
      <div class="box box-default color-palette-box">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fa fa-tag"></i> Expert Timesheet Record {{timesheet.title|title}}</h3>
          <a href="{% url 'projects:timesheet_record_create' pk=timesheet.id %}" style="float: right"><button class="btn btn-danger">Create Timesheet Record</button></a>
        </div>
        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>S/No</th>
                        <th>Project</th>
                        <th>Timesheet Title</th>
                        <th>admin</th>
                        <th>Date</th>
                        <th>Day</th>
                        <th>Day Worked</th>
                        <th>Place of Activitry</th>
                        <th>Activities</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in object_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ record.timesheet.project.name|title }}</td>
                            <td>{{ record.timesheet.title|title }}</td>
                            <td>{{ record.timesheet.project.admin.name|title }}</td>
                            <td>{{ record.date }}</td>
                            <td>{{ record.day }}</td>
                            <td>{{ record.day_worked }}</td>
                            <td>{{ record.place_of_activity }}</td>
                            <td>{{ record.activities }}</td>
                            <td>
                                <a href="{% url 'projects:timesheet_record_update' pk=record.id %}"><button class="btn btn-primary btn-xs">Edit</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
      </div>
</section>     
{% endblock %}
