{% extends 'base.html' %}

{% block content %}
<section class="content-header">
    <h1>
    Timesheet
    <small>Timesheet Management System</small>
    </h1>
    <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li>Timesheet</li>
    <li class="active">add</li>
    </ol>
</section>
<section class="content">
      <!-- COLOR PALETTE -->
      <div class="box box-default color-palette-box">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fa fa-tag"></i> Add New Timesheet</h3>
        </div>
        <div class="box-body">
            {{ form.errors }}
            <form action="{% url 'projects:timesheet_create' project_id=project.id %}" method="POST"><br>
                {% csrf_token %}
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Project</label>
                            <input type="text" class="form-control" placeholder="Project" name="project_name" value="{{ project.name|title }}" readonly></input><br>
                            <input type="hidden" class="form-control" placeholder="Project" name="project" value="{{ project.id|title }}" readonly></input><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Title</label>
                            <input type="text" class="form-control" placeholder="Add Timesheet Title" name="title" required></input><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Timesheet Details (optional)</label>
                            <textarea class="form-control" placeholder="Add Timesheet Details" name="details" rows="4"></textarea><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Select Month</label>
                            <select class="form-control" name="selected_month" required>
                                <option></option>
                                {% for month in months %}
                                    <option value="{{month.0}}">{{month.1}}</option>
                                {% endfor %}
                            </select><br>
                        </div>
                        <div class="col-lg-6">
                            <label>Select Year</label>
                            <select class="form-control" name="selected_year" required>
                                <option></option>
                                {% for year in years %}
                                    <option value="{{year}}">{{year}}</option>
                                {% endfor %}
                            </select><br>
                        </div>
                    </div>
                    <input type="hidden" name="expert" value="{{ request.user.user_expert.expert.id }}"></input>
                    <div class="row">
                        <div class="col-lg-12 text-right">
                            <button type="submit" class="btn btn-primary">Save</button><br>
                        </div>
                    </div>
                </div>
            </form>
        </div>
      </div>
</section>  
{% endblock %}