{% extends 'base.html' %}

{% block content %}
<section class="content-header">
    <h1>
    Timesheet
    <small>Timesheet Management System</small>
    </h1>
    <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li>Timesheet</li>
    <li class="active">add</li>
    </ol>
</section>
<section class="content">
      <!-- COLOR PALETTE -->
      <div class="box box-default color-palette-box">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fa fa-tag"></i> Add New Timesheet</h3>
        </div>
        <div class="box-body">
            {{ form.errors }}
            <form action="{% url 'projects:timesheet_update' pk=object.id %}" method="POST"><br>
                {% csrf_token %}
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Select Project</label>
                            <select class="form-control" name="project" required>
                                    <option></option>
                                {% for project in projects%}
                                    <option value='{{ project.id }}' {% if object.project.id == project.id %}selected="selected"{% endif %}>{{ project.name|title }}</option>
                                {% endfor %}
                            </select><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Title</label>
                            <input type="text" class="form-control" placeholder="Add Timesheet Title" name="title" value="{{ object.title|title }}" required></input><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Subject of Contract</label>
                            <input type="text" class="form-control" placeholder="Add Subject of Contract" name="subject_of_contract" value={{ object.subject_of_contract }} required></input><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Service Contract No.</label>
                            <input type="text" class="form-control" placeholder="Add Service Contract No." name="service_contract_no" value={{ object.service_contract_no }} required></input><br>
                        </div>
                        <div class="col-lg-6">
                            <label>Identification No.</label>
                            <input type="text" class="form-control" placeholder="Add Identification No." name="identification_no" value={{ object.identification_no }} required></input><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Country</label>
                            <input type="text" class="form-control" placeholder="Add Country" name="country" value={{ object.country }} required></input><br>
                        </div>
                        <div class="col-lg-6">
                            <label>Sofreco Contract No.</label>
                            <input type="text" class="form-control" placeholder="Add Sofreco Contract No." name="sofreco_contract_no" value={{ object.sofreco_contract_no }} required></input><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Timesheet Details</label>
                            <textarea class="form-control" placeholder="Add Timesheet Details" name="details" rows="4">{{ object.details }}</textarea><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Timesheer Start Date</label>
                            <input type="date" class="form-control" name="start_date" value="{{ object.start_date|date:'Y-m-d' }}"</input><br>
                        </div>
                        <div class="col-lg-6">
                            <label>Timesheet End Date</label>
                            <input type="date" class="form-control" name="end_date" value="{{ object.start_date|date:'Y-m-d' }}"></input><br>
                        </div>
                    </div>
                    <input type="hidden" name="expert" value="{{ request.user.user_expert.expert.id }}"></input>
                    <div class="row">
                        <div class="col-lg-12 text-right">
                            <button type="submit" class="btn btn-primary">Save</button><br>
                        </div>
                    </div>
                </div>
            </form>
        </div>
      </div>
</section>  
{% endblock %}