{% extends 'base.html' %}

{% block content %}
<section class="content-header">
    <h1>
    Timesheet
    <small>Admin Projects</small>
    </h1>
    <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li>Project</li>
    <li class="active">Update</li>
    </ol>
</section>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<section class="content">
      <!-- COLOR PALETTE -->
      <div class="box box-default color-palette-box">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fa fa-tag"></i> Update Project</h3>
        </div>
        <div class="box-body">
            {{ form.errors }}
            <form action="{% url 'admins:admin_project_update' pk=object.id %}" method="POST"><br>
                {% csrf_token %}
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="row">
                        <div class="col-lg-12">
                        <label>Select Expert</label>
                        <select class="form-control selectpicker" name="experts" multiple="multiple" data-live-search="true" required>
                            {% for expert in experts %}
                                <option value='{{ expert.id }}' {% if expert.id in project_experts %}selected="selected"{% endif %}>{{ expert.name|title }}</option>
                            {% endfor %}
                        </select><br>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Project Name</label>
                            <input type="text" class="form-control" value="{{object.name}}" name="name" required><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Service Number Contract</label>
                            <input type="text" class="form-control" value="{{object.service_number_contract}}" name="service_number_contract" required><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Internal Reference</label>
                            <input type="text" class="form-control" value="{{object.internal_reference}}" name="internal_reference" required><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Country</label>
                            <input type="text" class="form-control" value="{{object.country}}" name="country" required><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Name of Company</label>
                            <input type="text" class="form-control" value="{{object.name_of_company}}" name="name_of_company" required><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Place of Activity</label>
                            <input type="text" class="form-control" placeholder="Add Place of Activity" name="place_of_activity" value="{{object.place_of_activity}}" required><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Attention Mails</label>
                            <input type="text" class="form-control" value="{{object.attention_mails}}" name="attention_mails" required><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Telephone Company</label>
                            <input type="text" class="form-control" value="{{object.telephone_company}}" name="telephone_company" required><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label>VAT Company</label>
                            <input type="text" class="form-control" value="{{object.vat_company}}" name="vat_company" required><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Company Address</label>
                            <textarea class="form-control" name="address_company" rows="4">{{object.address_company}}</textarea><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Project Details</label>
                            <textarea class="form-control" name="etails" rows="4">{{object.description}}</textarea><br>
                        </div>
                    </div>
                    <input type="hidden" name="admin" value="{{ request.user.user_admin.admin.id }}">
                    <div class="row">
                        <div class="col-lg-12 text-right">
                            <button type="submit" class="btn btn-primary">Update</button><br>
                        </div>
                    </div>
                </div>
            </form>
        </div>
      </div>
</section>  
{% endblock %}