{% extends 'base.html' %}

{% block content %}
<section class="content-header">
    <h1>
    Timesheet
    <small>Timesheet Management System</small>
    </h1>
    <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li>Invoice</li>
    <li class="active">Update</li>
    </ol>
</section>
<section class="content">
      <!-- COLOR PALETTE -->
      <div class="box box-default color-palette-box">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fa fa-tag"></i> Update Invoice</h3>
        </div>
        <div class="box-body">
            {{ form.errors }}
            <form action="" method="POST"><br>
                {% csrf_token %}
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Select Project</label>
                            <select class="form-control" name="project" required>
                                    <option value={{object.project.id}}>{{object.project.name|title}}</option>
                                {% for project in projects %}
                                    <option value='{{ project.id }}'>{{ project.name|title }}</option>
                                {% endfor %}
                            </select><br>
                        </div>
                        <div class="col-lg-6">
                            <label>Select Expert</label>
                            <select class="form-control" name="expert" required>
                                    <option value={{object.expert.id}}>{{object.expert.name|title}}</option>
                                {% for expert in experts %}
                                    <option value='{{ expert.id }}'>{{ expert.name|title }}</option>
                                {% endfor %}
                            </select><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Invoice Company Name</label>
                            <input type="text" class="form-control" placeholder="Add Invoice Comapany Name" name="invoice_company_name" value="{{ object.invoice_company_name}}" required></input><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Att Name</label>
                            <input type="text" class="form-control" placeholder="Add Att Name" name="att_name" value="{{object.att_name}}" required></input><br>
                        </div>
                        <div class="col-lg-6">
                            <label>Address Line 1</label>
                            <input type="text" class="form-control" placeholder="Add Address Line 1" name="address_line_1" value="{{object.address_line_1}}" required></input><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Address Line 2</label>
                            <input type="text" class="form-control" placeholder="Add Address Line 2" name="address_line_2" value="{{object.address_line_2}}" required></input><br>
                        </div>
                        <div class="col-lg-6">
                            <label>Country</label>
                            <input type="text" class="form-control" placeholder="Add Country" name="country" value="{{object.country}}" required></input><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Name of Consultant</label>
                            <input type="text" class="form-control" placeholder="Add Name of Consultant" name="name_of_consultant" value="{{object.name_of_consultant}}" required></input><br>
                        </div>
                        <div class="col-lg-6">
                            <label>Address</label>
                            <input type="text" class="form-control" placeholder="Add Address" name="address" value="{{object.address}}" required></input><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Telephone</label>
                            <input type="text" class="form-control" placeholder="Add Telephone" name="telephone" value="{{object.telephone}}" required></input><br>
                        </div>
                        <div class="col-lg-6">
                            <label>Fax</label>
                            <input type="text" class="form-control" placeholder="Add Fax" name="fax" value="{{object.fax}}" required></input><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Email</label>
                            <input type="text" class="form-control" placeholder="Add Email" name="email" value="{{object.email}}" required></input><br>
                        </div>
                        <div class="col-lg-6">
                            <label>Tva Id</label>
                            <input type="text" class="form-control" placeholder="Add Tva Id" name="tva_id" value="{{object.tva_id}}" required></input><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Name of Bank</label>
                            <input type="text" class="form-control" placeholder="Add Name of Bank" name="name_of_bank" value="{{object.name_of_bank}}" required></input><br>
                        </div>
                        <div class="col-lg-6">
                            <label>Address of Bank</label>
                            <input type="text" class="form-control" placeholder="Add Address of Bank" name="address_of_bank" value="{{object.address_of_bank}}" required></input><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <label>Account Number</label>
                            <input type="text" class="form-control" placeholder="Add Account Number" name="account_no" value="{{object.account_no}}" required></input><br>
                        </div>
                        <div class="col-lg-4">
                            <label>IBAN</label>
                            <input type="text" class="form-control" placeholder="Add IBAN" name="iban" value="{{object.iban}}" required></input><br>
                        </div>
                        <div class="col-lg-4">
                            <label>Swift Code</label>
                            <input type="text" class="form-control" placeholder="Add Swift Code" name="swift_code" value="{{object.swift_code}}" required></input><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-right">
                            <button type="submit" class="btn btn-primary">Save</button><br>
                        </div>
                    </div>
                </div>
            </form>
        </div>
      </div>
</section>  
{% endblock %}