{% extends 'base.html' %}

{% block content %}
<section class="content-header">
    <h1>
    Timesheet Management
    <small>Experts</small>
    </h1>
    <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li>Experts</li>
    <li class="active">View / Update</li>
    </ol>
</section>
<section class="content">
      <!-- COLOR PALETTE -->
      <div class="box box-default color-palette-box">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fa fa-tag"></i> View / Update Expert</h3>
        </div>
        <div class="box-body">
            <form action="{% url 'experts:experts_update' pk=object.id %}" method="POST"><br>
                {% csrf_token %}
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Full Name</label>
                            <input type="text" class="form-control" placeholder="Full Name" name="name" value={{ object.name|title }} required></input><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Mobile Number</label>
                            <input type="text" class="form-control" placeholder="Mobile Number" name="mobile" value={{ object.mobile }}></input><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Position</label>
                            <input type="text" class="form-control" placeholder="Position" name="position" value={{ object.position }}></input><br>
                        </div>
                        <div class="col-lg-6">
                            <label>Category</label>
                            <input type="text" class="form-control" placeholder="Category" name="category" value={{ objecct.category }}></input><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Address</label>
                            <textarea rows="4" class="form-control" placeholder="Address" name="address" value={{ object.address }}>{{ object.address }}</textarea><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label>VAT</label>
                            <input type="text" class="form-control" placeholder="VAT" name="vat" value={{ object.vat }}></input><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Name of Bank</label>
                            <input type="text" class="form-control" placeholder="Add Name of Bank" name="name_of_bank" value={{ object.name_of_bank}} required></input><br>
                        </div>
                        <div class="col-lg-6">
                            <label>Addressof Bank</label>
                            <input type="text" class="form-control" placeholder="Add Address of Bank" name="address_of_bank" value={{ object.address_of_bank}} required></input><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <label>Account Number</label>
                            <input type="text" class="form-control" placeholder="Add Account Number" name="account_no" value={{ object.account_no}} required></input><br>
                        </div>
                        <div class="col-lg-4">
                            <label>IBAN</label>
                            <input type="text" class="form-control" placeholder="Add IBAN" name="iban" value={{ object.iban}} required></input><br>
                        </div>
                        <div class="col-lg-4">
                            <label>Swift Code</label>
                            <input type="text" class="form-control" placeholder="Add Swift Code" name="swift_code" value={{ object.swift_code}} required></input><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-right">
                            <button type="submit" class="btn btn-primary">Update</button><br>
                        </div>
                    </div>
                </div>
            </form>
        </div>
      </div>
</section>  
{% endblock %}